* 
{
    margin: auto;
}

main 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div 
{
    display: flex;
    justify-content: space-between;
}

.üres 
{
    background-color: #F0D2B4;
}

td 
{
    text-align: center;
    background-color: #BA7A3A;
    width: 65px;
    height: 65px;
}

.fekete 
{
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.piros 
{
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.piroskirály 
{
    background-color: orange;
}

.feketekirály 
{
    background-color: purple;
}

p 
{
    display: inline-block;
}

#osztó 
{
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span 
{
    display: inline-block;
}
